{% extends 'boards/base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Board: {{board.name}}</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <!-- Content Row -->
    <div class="row">

        {% for list in board.lists.all %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="/board/display/list/{{list.obj_id}}">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{list}}</div>
                            </a>
                            {% for card in list.cards.all %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{card.name}}</div>
                            {% endfor %}
                        </div>
                        <div class="col-auto">
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Earnings (Monthly) Card Example -->


        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">

                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">+ Add List</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Content Row -->

        <!-- Content Row -->
        <div class="row">



            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Description</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                src="{% static 'img/undraw_posting_photo.svg' %}" alt="">
                        </div>
                        <p>{{board.description}}</p>
                    </div>
                </div>

                <!-- Approach -->


            </div>
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Members</h6>
                    </div>
                    <div class="card-body">
                        <p>{% for member in board.members.all %}{{member}}, {% endfor %}</p>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    {% endblock %}