{% extends 'boards/base.html' %}
{% load static %}
{% block body %}

<div class="container-fluid">
    <h1 class="h3 mb-1 text-gray-800">Board {{board.name}}</h1>
    <p class="mb-4">{{board.description}}</p>
    <div class="row">
        {% for list in board.lists.all %}
        <div class="col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <a href="/board/{{list.obj_id}}/list">
                        <h6 class="m-0 font-weight-bold text-primary">{{list.name}}</h6>
                    </a>
                </div>
                <div class="card-body">
                    {% for card in list.cards.all %}
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{card.name}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="col-lg-4">
            <a href="/board/{{board.obj_id}}/createList">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Create List</h6>
                    
                </div>
                <div class="card-body">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">+</div>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}