{% extends 'boards/base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">List: {{list1.name}}</h1>
    </div>

    {% for card in list1.cards.all %}
    <li class="card">
        <a class="card">
            <h2>{{card.name}}</h2>
            <p>{{card.content}}</p>
        </a>
    </li>
    {% endfor %}
    
    <li class="card">
        <a class="card" href="/board/{{list1.obj_id}}/createCard">
            <h2>Add Card</h2>
            <p>+</p>
        </a>
    </li>
    





</div>

<link href="{% static 'css/card.css' %}" rel="stylesheet" type="text/css">
{% endblock %}